
 @{
     ViewData["Title"] = "AboutUs";
}

<h1>About Us</h1> 
<p></p>


 <header>
       
    </header>
    <div class="container" style="background:url('https://wallpaperaccess.com/full/4321838.jpg'); height:92vh; background-repeat:no-repeat;background-size:cover;width:100%;">
        <main role="main" class="pb-3">
<div class="position-absolute top-50 start-50 translate-middle" >
    <h1 class="display-4 text-white">Welcome To The Sytem</h1>
    <div class="button-lgn">
   <button class="btn btn-warning">  <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Login">Login</a></button>
   <button class="btn btn-warning">  <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Signup">Signup</a></button>
    </div>
</div>
</main>
</div>