@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-image mt-0 pt-0"
     style="background-image: url('https://wallpaperaccess.com/full/4321838.jpg');height: 150vh">
    <main role="main" class="pb-3">
        <div class="position-absolute top-50 start-50 translate-middle">
            <h1 class="display-2 text-white font-weight-bold h-50 d-inline-block">Welcome To The Sytem</h1>
            <div class="button-lgn">
                <button class="btn btn-warning">  <a class="nav-link text-white" asp-area="" asp-controller="Employee" asp-action="Login">Login</a></button>
                <button class="btn btn-warning">  <a class="nav-link text-white" asp-area="" asp-controller="Employee" asp-action="Signup">Signup</a></button>
            </div>
        </div>
    </main>
</div>